    * {
      box-sizing: border-box;
    }

p, ul {
	margin: 0;
	padding: 0;
}

*:hover {
	transition: 0.5s ease-in-out;
}

body {
	background: #CDCDCD;
	font-family: 'Inter', sans-serif;
}

.heading {
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #4F5264;
}

.header-center ul li {
	    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-center ul li a{
list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #212529;
    gap: 10px;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.header-right {
	background: #FFFFFF;
    border-radius: 5px;
    padding: 8px 10px;
}

.header-right p {
	font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #212529;
}

.header-right p button {
	background: #3182DE;
border-radius: 2px;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
	border: none;
}

.header-right p.betslip-number {
	padding-right: 13px !important; 
    cursor: pointer;
}

.header-right p .betslip-counter {
	background: #EFCB41;
border-radius: 2px;
	margin-right: 5px;
	padding: 0px 6px;
	display: inline-block;
}
.regular.slider {
	background: #FFFFFF;
border-radius: 5px;
padding: 9px 0px;
margin-top: 20px;
margin-bottom: 20px;
position: relative;
text-align: center;
    width: calc(100% + 80px);
    margin-left: -40px;
}

.regular.slider .slick-list {
	    width: calc(100% - 40px);
    margin: 0 auto;
} 

.regular.slider button {
    position: absolute;
    background: #3182DE;
    box-shadow: 0px 0px 4.72727px #82A2DC;
    border-radius: 3px;
    border: none;
    color: #fff;
    width: 14px;
    height: 26px;
    font-size: 5px;
    top: 20px;
}

.regular.slider button.slick-prev {
	left: -5px;
}

.regular.slider button.slick-next {
	right: -5px;
}

.slick-slide:hover {
        background-color: #3182DE;
}

.slick-slide:hover p {
    color: #fff;
}

.slick-slide {
	background-color: #d9d9d9;
	border-radius: 5px;
	margin-right: 5px;
	/*min-width: 43px;*/
	/*width: 43px !important;*/
	min-height: 45px !important;
	position: relative;
	display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slick-slide span {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 6px;
    line-height: 7px;
    color: #212529;
    right: 2px;
    top: 2px;
    background: #fff;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-slide p {
    font-style: normal;
    font-weight: 700;
    font-size: 6px;
    line-height: 7px;
	color: #212529;
} 

.slick-slide img {
	margin: 0 auto;
	margin-top: 5px;
}

.main-section-body {
	display: inline-block;
	width: 100%;
	background: #F7F7F8;
border-radius: 5px;
padding: 15px; 
}

.bredcum p {
	font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #212529;

}

.bredcum p img  {
margin: 0 7px;
}

.bredcum p button {
	border: 1px solid rgba(49, 130, 222, 1);
	border-radius: 5px;
	background-color: #fff;
	padding: 6px 13px;
	font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
margin-left: 11px;

color: #212529;
}

.dropdown-grp .dropdown button {
	background: transparent;
border-radius: 5px;
padding: 4px 16px;
border: 1px solid #3F4444;
text-align: left;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
min-height: 44px;
color: #212529;
position: relative;
}
.dropdown-grp .dropdown button span {
	font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #747474;
}

.dropdown-grp .dropdown button:after {
	position: absolute;
	right: 10px;
	top: 50%;
}

.tab-grps ul li button {
	font-style: normal;
font-weight: 500;
font-size: 11.72px;
line-height: 14px;
border: 1px solid #3F4444 !important;
color: #747474;
}

.tab-grps ul li button.active {
	background-color: #3182DE !important;
border-radius: 5px;
color: #fff;
border: 1px solid transparent !important;
}

.tab-grps .nav-item .dropdown-toggle {
background-color: transparent;
    border: none !important;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #212529;
}
.collase-grp button[aria-expanded="false"] p img.minus {
	display: none;
}
.collase-grp button[aria-expanded="true"] p img.minus {
	display: block;
}
.collase-grp button[aria-expanded="true"] p img.plus{
	display: none
}

.collase-grp button[aria-expanded="true"] {
	    border-radius: 5px 5px 0 0 !important;
    border-bottom: 0 !important;
}

.collapse.show .card-body {
	border-radius: 0 0 5px 5px;
	border-top: 0
}

.collase-grp button, .collase-grp button:hover {
	background: transparent;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    padding: 10px 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #212529;
    /* margin-bottom: 10px; */
    align-items: center;
}

.collase-grp button p {
	text-align: left;
}

.collase-grp button span {
	font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #747474;
}

.divider {
	display: inline-block;
	width: calc(100% + 30px);
	margin-left: -15px;
	height: 1px;
	background-color: rgba(205, 205, 205, 1);
	margin-bottom: 8px;
}
.collase-grp .card-body {
	background-color: transparent;
}

.collapse-detail .team-name {
	width: 25%;
}
.collapse-detail .team-name p {
	font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #212529;
}
.collapse-detail .team-scrore {
	width: 75%;
	text-align: right;
}

.collapse-detail .team-scrore ul li {
	width: calc(100% / 3 - 5px);
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	background: rgba(217, 217, 217, 0.4);
	border: 1px solid #CDCDCD;
	border-radius: 5px;
	padding: 3px 0;
	font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 23px;
text-align: center;
color: #212529;

}

.mybet-modal .modal-header, #exampleModal-2 .modal-header{
	background: #3F4444;
    border-radius: 5px 5px 0px 0px;
    padding: 15px 12px;
    display: flex;
}

.mybet-modal .modal-header button, #exampleModal-2 .modal-header button{
	opacity: 1;
	background:  transparent;
	height: auto;
}

.mybet-modal .modal-header h5, #exampleModal-2 .modal-header h5 {
	font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.mybet-modal .modal-body {
	background: #F6F6F7;
	padding: 10px;
}

.modal-tabs ul li {
	width: 50%;
}

.modal-tabs ul li button, .modal-tabs ul li button:hover {
	width: 100%;
	font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #CDCDCD;
padding: 5px;
}

 .modal-tabs ul {
 	background: #FFFFFF;
border-radius: 5px;
padding: 5px;
}

body .modal-tabs ul li button.active{
	background-color: #3F4444 !important;
	border-radius: 5px;
	font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
padding: 5px;
color: #FFFFFF !important;
}



.modal-card {
	    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 5px 0 10px 0;
    margin-top: 15px;
}

.modal-card .modal-legs{
	    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    line-height: 10px;
    padding: 5px 10px;
    margin: 5px 0;
}

.modal-card  .modal-legs p {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* Primary Color */

color: #212529;
}

.modal-card  .modal-legs span {
	font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #CDCDCD;
}

.modal-card .modal-id p {
	font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #212529;
}

.modal-card .modal-id {
	padding: 0 10px;
}

.modal-card .modal-id button.pending-btn {
	font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
background: rgba(166, 166, 166, 0.6);
border: 0.5px solid #3F4444;
border-radius: 5px;
color: #212529;
padding: 5px;
}

.modal-card .modal-id button.lost-btn {
        border: 1px solid #ff0000;
        box-shadow: none;
        background-color:  rgba(255, 0, 0, 0.6);
        color: #212529;
        border-radius: 5px;
        padding: 5px;
        font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

    }
    .modal-card .modal-id button.won-btn {
        border: 1px solid  #19B68E;
        box-shadow: none;
        background-color: rgba(25, 182, 142, 0.6);
        color: #212529;
        border-radius: 5px;
        padding:  5px;
        font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

    }

    .modal-card .name p{
        font-size: 14px;
        margin-top: 5px;
        color: #212529;
    }
    .modal-card .team-name p, .modal-card .and{
        font-size: 12px;
        margin-top: 2px;
        color: #212529 !important;
    }
    .modal-card .points p {
        font-size: 12px;
        padding:5px 0px;
        color: #212529;
    }

.modal-card-footer ul {
	background-color: transparent;
    padding: 0;
    border-radius: 0;
    list-style: none;
    display: flex;
    /*justify-content: space-between;*/
    padding: 0 10px;
}

.modal-card-footer ul li {
	font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
color: #212529;
width: calc(100% / 3);
}

.modal-card-footer ul li:nth-child(2) {
	text-align: center;
}

.modal-card-footer ul li:nth-child(3) {
	text-align: right;
}

/*build mode page css start here*/
.build-mode {
        background-color: #3182DE;
    width: 100%;
    /*margin-left: -15px;
    margin-top: -15px;*/
    padding: 15px 0;
    /*margin-bottom: -15px;*/
    border-radius: 5px 5px 0 0;
}
.invite-grp {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
}

.invite-bg {
    margin-right: 5px;
}
.build-mode .dropdown-grp .dropdown button {
    border-color: #fff;
    color: #fff;
}
.build-mode .dropdown-grp .dropdown button span, .build-mode .bredcum p {
    color: #fff;
}

.build-text {
    font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #212529;
    display: flex;
    align-items: center;
    gap: 5px;
}

.clear-text {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #212529;
    display: flex;
    align-items: center;
    gap: 5px;
}

.build-tab ul.build-ul {
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.build-tab ul.build-ul li, .stat-inner-tab .will-have li{
    width: calc(100% / 3 - 5px);
    text-align: center;
}

body .stat-inner-tab .will-have li button {
    border: none !important;
}

.build-tab ul.build-ul li button, .stat-inner-tab .will-have li button {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #747474 !important;
width: 100%;
text-align: center;
border-radius: 5px;
border: 1px solid #3F4444 !important;
}

.build-tab ul.build-ul li button.active,
.stat-inner-tab .will-have li button.active {
background-color: #3F4444 !important;
color: #fff !important;
}

.stat-tab-detail p {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #212529;
}

.stat-tab-detail .match-name, .match-select select {
    border: 1px solid #212529;
border-radius: 5px;
padding: 10px;
width: 100%;
background-color: transparent;
min-height: 56px;
margin: 6px 0;
}

.stat-inner-tab .will-have {
    background: #FFFFFF;
border-radius: 5px;
padding: 5px;
}

.invite-bg {
    background-color: #F7F7F8;
    padding: 15px 10px;
}

.build-bg {
    background: #EAEAEA;
    padding: 15px 10px;
    border-radius: 0 0 5px 0;
}

.search-input  input {
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    padding: 10px;
    padding-left: 45px;
    color: #cdcdcd;
    margin-bottom: 15px;
}


.search-input  .search-img {
top: 8px;
left: 15px;
}

.user-detail ul li {
    border: 1px solid #3F4444;
border-radius: 5px;
padding: 15px 10px;
width: 49%;
margin-bottom: 10px;
}

.graph-img {
    margin-right: 6px;
    cursor: pointer;
}

.user-img {
background: #212529;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-img:hover {
    background: #3182DE;
}

.user-img:hover img {
    display: none;
}

.user-img:hover img + img  {
    display: block;
}

.user-img img + img {
    display: none;
}

.match-detail button {
    background: #3F4444;
border: 0.5px solid #000000;
border-radius: 1px;
font-style: normal;
font-weight: 500;
font-size: 8px;
line-height: 10px;
padding: 2px 3px;
color: #FFFFFF;
margin-left: 10px;
}

.match-detail p:nth-child(1){
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #212529;

}
.match-detail p:nth-child(2){
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #CDCDCD;
}

.counter-place-btn {
    margin: 12px 0; 
}

.counter-place-btn .counter-div {
        border: 1px solid #212529;
    border-radius: 5px;
    line-height: 35px;
}

.counter-place-btn .counter-div a {
    display: inline-block;
    width: 50px;
    text-align: center;
}

.counter-place-btn .counter-div span {
    display: inline-block;
    width: calc(100% - 110px);
    text-align: center;
    border-left: 1px solid #212529;
    border-right: 1px solid #212529;
}

.bet-btns-grp {
    display: flex;
    gap: 10px;
}

.bet-btns-grp button.total-odd-btn {
    width: 120px;
    font-style: normal;
font-weight: 500;
font-size: 10px;
color: #212529;
border: 1px solid #747474;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 49px;
}

.bet-btns-grp button.total-odd-btn span {
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #212529;
}

.bet-btns-grp button.bet-slip-btn {
    width: calc(100% - 120px);
    border: none;
    border-radius: 5px;
    background: #19B68E;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    min-height: 49px;
}

.betslip-modal {
    background-color: #fff;
    width: 350px;
    bottom: 0;
    position: fixed;
    right: -350px;
    height: 100%;
    padding: 0 10px;
    transition: 0.5s;
}

.betslip-modal .heading {
    background: #4F5263;
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px;
    width: calc(100% + 20px);
    margin-left: -10px;
}
.betslip-modal .heading p.close-modal {
    cursor: pointer;
}
.betslip-modal .heading p {
    font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
    display: flex;
    gap: 8px;
    align-items: center;
}

.betslip-modal .heading p span{
    background: #EFCB41;
border-radius: 2px;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #212529;
padding: 2px 5px;
}

.betslip-top {
    margin-top: 15px;
}

.betslip-top p:nth-child(1) {
    color: #212529;
text-align: center;
font-size: 16px;
font-weight: 700;
}

.betslip-top p:nth-child(2) {
color: #212529;
font-size: 12px;
font-weight: 500;
cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.betslip-top p:nth-child(2) img {
    margin-left: 5px;
}

.league-overflow {
    overflow-y: scroll;
    height: 300px;
}

.league-grp {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 12px 0;
    margin-top: 10px;
}

.league-grp article {
    padding: 0 12px;
}

.league-grp .team-league .league{
    color: #212529;
font-size: 14px;
font-weight: 600;
}

.league-grp .team-league .team{
    color: #212529;
    font-size: 12px;
    font-weight: 500;
}

.point-section p {
        color: #212529;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 12px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    margin: 10px 0;
}

.return-section {
    display: flex;
    justify-content: flex-end;
    padding: 0 12px;
}

.return-section .return-grp {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    min-width: 130px;
    margin-left: 20px;
}

.return-amt {
    color: #212529;
font-size: 15px;
font-family: Inter;
font-weight: 600;
padding: 10px 0;
}

.return-text {
    color: #212529;
font-size: 12px;
font-family: Inter;
font-weight: 500;
border-top: 1px solid #cdcdcd;
line-height: 23px;
}

.return-section .min-amount {
    color: #212529;
font-size: 16px;
font-weight: 600;
}

.parlay-grp {
    border-radius: 5px;
border: 1px solid #3182DE;
margin-top: 10px;
}

.parlay-grp .parlay-heading {
        background-color: #3182DE;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parlay-grp .parlay-heading p:nth-child(1) {
    color: #FFF;
font-size: 12px;
font-weight: 600;
}

.parlay-grp .parlay-heading p:nth-child(2) {
    border-radius: 5px;
background: #FFF;
color: #747474;
font-size: 12px;
font-weight: 600;
padding: 4px 11px;
}

.parlay-place-grp {
    padding: 10px 12px;
}

.parlay-amt {
    border-radius: 5px;
border: 1px solid #CDCDCD;
width: 49%;
}

.parlay-btn {
    width: 49%;
}

.parlay-btn button {
    border-radius: 5px;
    background: #19B68E;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
}

.parlay-amt p:nth-child(1) {
color: #212529;
font-size: 16px;
font-weight: 600;
padding: 10px 0;
padding-left: 35px;
}

.parlay-amt p:nth-child(2) {
color: #212529;
font-size: 12px;
font-weight: 500;
border-top: 1px solid #cdcdcd;
padding: 5px 0;
padding-left: 35px;
}

.return-section .min-amount span {
    color: #3182DE;
}

.submit-bet button {
        border-radius: 5px;
    background: #19B68E;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 0;
    margin-top: 15px;
    opacity: 0.5
}

.pl-0{
    padding-left: 0
}

.pr-0{
    padding-right: 0
}

/*build mode page css end here*/

@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1100px;
}
}

.line-1{
display: flex;
justify-content:space-between ;
}
.heading-wrap{
    padding: 10px;
    background-color: #3f4444;
    color: #fff;
}
.heading-wrap p{
margin-bottom: 0px !important;
}

.player-name{
 font-weight: 700;
 font-size: 16px;
}

.subhead{
    font-size: 16px;
    font-weight: 500;
}

.team-name{
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.progress-wrap p{
margin-bottom: 8px;
}

.progress-radius{
    border-radius: 10px;
    height: 16px;
    margin-bottom: 12px;
        border: 1px solid #000;
    background-color: transparent;
}

.tab-btn{
    color: #747474;
    padding: 8px 5px;
    margin-right: 15px;
    border: 1px solid #3f4444 !important;
    border-radius: 5px !important;

}
.tab-btn:hover{
    border: none;
    color: #747474;

}

.tabs-nav .tab-btn.active{
    color: #fff!important; 
    background-color: #3182de  !important;
        border: 1px solid transparent !important;
}

.tabs-nav{
    border-bottom: none;
    align-items: center;
}
.tabs-nav p{
    margin-bottom: 0px;
}

.heading-2{
      font-size: 14PX;
      font-weight: 700;
     
    }

    .tabs-nav img{
     margin-left: 10px;
    }

    .accordion-item{
border: none;
}

.accordion-body{
padding: 0px;
}

button.accordion-button.collapsed img{

transform: rotateZ(180deg);
transition: ease-in-out 0.3s;
}

.accordion-button{
display: inherit;
}
.accordion-button:focus{
border: none;
box-shadow: none;
color: #000;
background-color: transparent;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}

.heading-wrap .btn-close {
    background: inherit;
    opacity: 1;
}

/*confirm modal css start here*/
    .check-icon{
      height: 100px;
      width: 100px;
    }
p{
  margin: 0px !important;
}

.card{
  margin-top: 15px;
  border-radius: 5px;
}

    .modal-header{
      border-bottom: none;
      display: inline;
    }

    .modal-footer{
      border-top:none !important;
      justify-content: center;
      flex-wrap: inherit;
      background-color: #fff;
      margin-top: -15px;
      border-radius: 0 0 15px 15px;
      border: none;
      width: 100%;
    }

    .heading-1{
      font-size: 16PX;
      font-weight: 600;
      text-align: left;
      padding-bottom:5px ;
    }

    .heading-2{
      font-size: 16PX;
      font-weight: 600;
      text-align: left;
      display: flex;
      justify-content: center;
    }

    .text-1{
      font-size:  12PX;
      font-weight: 500;
      text-align: left;
    }

    #staticBackdrop .modal-body{
      padding-top: 0px !important;
    }
    .view-legs{
      font-size: 16PX;
      font-weight: 400;
      margin-left: 5px;
      align-items: center;
    }

    .name{
    font-size: 14px;
    font-weight: 600;
    
    }

    .team-name{
      font-size: 12px;
      font-weight: 500;
      color: #747474;
      padding-bottom: 10px;
      border-bottom: 0.5px solid #eaeaea;
    }
    .name-2{
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    
    }

    .team-name-2{
      font-size: 12px;
      font-weight: 500;
      color: #747474; 
    }
.left-text{
  font-size: 12px;
font-weight: 400;
}

.right-text{
  font-size: 12px;
font-weight: 500;
}
.total-sum{
  padding: 10px;
  border-top: 0.55px solid #cdcdcd;
}
.card-2 :first-child{
  border-top:none !important ;
}

.card-2{
  padding: 0px !important;
}
.cancelbtn{
background-color:transparent;
color: #000;
border-radius: 5px;
border: 1px solid #747474;
font-size: 14px;
font-weight: 400;
padding: 12px;
width: 50%;
}
.cancelbtn:hover{
background-color:transparent;
color: #000;
}

.confirmbtn{
background-color:#19B68E;
border: none;
border-radius: 5px;
font-size: 14px;
font-weight: 400;
padding: 12px;
width: 50%;
color: #fff;
}

.confirmbtn:hover{
  background-color: #19B68E;
  color: #fff;
}

.accordion-item{
border: none;
}

.accordion-body{
padding: 0px;
}

button.accordion-button.collapsed img{

transform: rotateZ(180deg);
transition: ease-in-out 0.3s;
}

.accordion-button{
display: inherit;
justify-content: center;
padding: 0px !important;
}
.accordion-button:focus{
border: none;
box-shadow: none;
color: #000;
background-color: transparent;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}
.circle-img {
  position: absolute;
  border: 2px solid;
  border-radius: 50%;
  top: 0;
  right: 0;
}
#staticBackdrop .modal-content {
  background-image: url("https://i.ibb.co/2Y2BC01/Subtract.png");
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat; 
  border: 0;
}

.accordion-button, .custom-accordion .accordion-item, .card {
  background-color: transparent !important;
}

/*scroll design*/

::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar-track {
  background-color: #cdcdcd
}
 
::-webkit-scrollbar-thumb {
  background-color: #3182DE;
  /*outline: 1px solid slategrey;*/
}

 .check-icon{
      height: 100px;
      width: 100px;
    }
p{
  margin: 0px !important;
}

.card{
  margin-top: 15px;
  border-radius: 5px;
}

    .modal-header{
      justify-content: center !important;
      border-bottom: none;
    }

    #staticBackdrop-1 .modal-footer{
            background-color: #fff;
      margin-top: -15px;
      border-radius: 0 0 15px 15px;
      border: none;
      width: 100%;
      border-top:none !important
    }

    .heading-1{
      font-size: 16PX;
      font-weight: 700;
      text-align: center;
    }

    .heading-2{
      font-size: 16PX;
      font-weight: 600;
      text-align: center;
    }

    #staticBackdrop-1 .modal-body{
      padding-top: 0px !important;
      background-color: #fff;
    }
    .view-legs{
      font-size: 16PX;
      font-weight: 400;
      margin-left: 5px;
      align-items: center;
    }

    .name{
    font-size: 14px;
    font-weight: 600;
    
    }

    .team-name{
      font-size: 12px;
      font-weight: 500;
      color: #747474;
      padding-bottom: 10px;
      border-bottom: 0.5px solid #eaeaea;
    }
    .name-2{
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    
    }

    .team-name-2{
      font-size: 12px;
      font-weight: 500;
      color: #747474; 
    }
.left-text{
  font-size: 12px;
font-weight: 400;
}

.right-text{
  font-size: 12px;
font-weight: 500;
}
.total-sum{
  padding: 10px;
  border-top: 0.55px solid #cdcdcd;
}
.card-2 :first-child{
  border-top:none !important ;
}

.card-2{
  padding: 0px !important;
}
.btn-secondary{
width: 100%;
background-color: #747474;
border-radius: 5px;
font-size: 14px;
font-weight: 400;
padding: 12px;
}

.accordion-item{
border: none;
}

.accordion-body{
padding: 0px;
}

button.accordion-button.collapsed img{

transform: rotateZ(180deg);
transition: ease-in-out 0.3s;
}

.accordion-button{
display: inherit;
}
.accordion-button:focus{
border: none;
box-shadow: none;
color: #000;
background-color: transparent;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
}
#staticBackdrop-1 .modal-content {
  background-image: url("https://i.ibb.co/2Y2BC01/Subtract.png");
  background-size: 100%;
  background-color: transparent;
  background-repeat: no-repeat; 
  border: 0;
}
.accordion-button, .custom-accordion .accordion-item {
  background-color: transparent !important;
}


/*faq modal css start here*/


    .faq-wrap{  
      /* width: 33.33%; */

     
      background-color: #f6f6f7;
    }

    #exampleModal-2 .modal-body{
        padding: 0px !important;
    }

    .header{
        background-color: #3f4444;
        height: 43px;
        font-size: 16px;
        font-weight: 700;
        padding: 12px 0px 12px 15px;
        border-radius: 5px 5px 0px 0px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header p{
      margin-bottom: 0px !important;
    }

  .close-btn{
  width: 15px;
    height: 15px;
    margin: 0px 15px 0px 0px;
  }

    .content-wrap{
        background-color: #d9d9d9;
        margin: 15px 10px ;
        border-radius: 5px 5px 0px 0px ;
    }
    .card{
        margin: 10px;
       
    }
    #exampleModal-2 .card-body{
        padding: 15px !important;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        border-radius: .25rem;
        background-color: #fff;
    }

    .faq-heading p {
        padding: 10px;
        color: #212529;
font-size: 14px;
font-weight: 600;
    }


    #exampleModal-2 .accordion-item{
border: none;
background-color: #d9d9d9;
}

#exampleModal-2 .accordion-body{
padding: 0px;
background-color: #d9d9d9;
}

#exampleModal-2 .accordion-body .card{
margin: 0px 10px;
}

#exampleModal-2 button.accordion-button.collapsed img{

transform: rotateZ(0deg);
transition: ease-in-out 0.3s;
}

#exampleModal-2 .accordion-button{
display: inherit;
padding: 0px !important;
background-color: #d9d9d9;
}

#exampleModal-2 .accordion-button  .card {
  margin: 5px 10px;
  border: none;
}



#exampleModal-2 .accordion-button:focus{
border: none;
box-shadow: none;
color: #000;
background-color: #d9d9d9;
}

#exampleModal-2 .accordion-button:not(.collapsed) {
    color: #000;
    background-color:#d9d9d9;
    box-shadow: none;
}